<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Cadastro de Dispositivo Móvel</title>
</head>
<body>
<div class="container">
    <form th:object="${remoteDevice}" th:action="@{/addRemoteDevice}" method="post">
        <div class="form-group">
            <label for="telDesc">Descrição</label>
            <input type="text" class="form-control" id="telDesc" th:field="*{desc}" aria-describedby="emailHelp" placeholder="Descrição">
        </div>
        <div class="form-group">
            <label for="number">Número</label>
            <input type="tel" class="form-control" id="number" th:field="*{number}" aria-describedby="emailHelp" placeholder="Número do telefone">
            <small id="emailHelp" class="form-text text-muted">Digite o número com código de área (ex. 6299991122).</small>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="lat">Latitude</label>
                <input type="number" step="any" class="form-control mb-2" id="lat" th:field="*{lastLocation.coordinates[0]}" placeholder="Latitude">
            </div>
            <div class="col-auto">
                <label for="lng">Longitude</label>
                <input type="number" step="any" class="form-control mb-2" id="lng" th:field="*{lastLocation.coordinates[1]}" placeholder="Longitude">
            </div>
        </div>
        <div class="form-group">
            <label for="fcmID">FCMID</label>
            <input type="text" class="form-control" id="fcmID" aria-describedby="emailHelp" placeholder="FCMID">
        </div>
        <button type="submit" class="btn btn-primary mb-2" >Salvar</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>