<!doctype html>
<html lang="pt-br" xmlns:th="http://www.springframework.org/schema/mvc">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
       #map {
        height: 1000px;
        width: 100%;
       }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script >
        function plotMarkers(lat, long){
          markers = [];
          var position = new google.maps.LatLng(lat, long);
          var mark = new google.maps.Marker({
            position: position,
            label: "teste",
            map: map,
            animation: google.maps.Animation.DROP,
            icon: {url: "group.png", labelOrigin: {x:0,y:0}}
        })
        bounds.extend(position);
        map.fitBounds(bounds);
        google.maps.event.addListener(mark, 'click', function(){
          infoWindow.open(map, mark);
        });
      }
      </script>
    <title>Sala de controle</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">
          <div id="map">
            <script th:inline="javascript">
            function initMap() {
              infoWindow = new google.maps.InfoWindow({content: "Teste"});
              bounds = new google.maps.LatLngBounds();
              map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: {lat:-16.33, lng:-49.18},
              });
              var list = [[${point}]];
              for(i = 0;i < list.length;i++){
                var lat = list[i].coordinates[0];
                var lng = list[i].coordinates[1];
                plotMarkers(lat,lng);
              }
              //plotMarkers(-16.6062,-49.3315);
              //plotMarkers(-16.3362,-48.9534);
            }
            </script>
          </div>

        </div>
        <div class="col-lg-2">
            <div class="alert alert-success">
                <strong>Mensagens:</strong>
            </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Uc93DkXYoiGlPSymsQ1a2EQj75UVsxo&callback=initMap">
    </script>
  </body>
</html>